.selected-lesson-bg-color-ordered-number {
  background-color: #0067b1d7;
  color:white;
}

.selected-lesson-bg-color {
  background-color: #0067b12d;
  color:black
}

.unselected-lesson-bg-color-ordered-number {
  background-color: rgba(238, 238, 238, 0.973);
}

.unselected-lesson-bg-color {
  color:black
}

