nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline>* {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

#ico-eye {
  color: #00be3f
}

#ico-analytics {
  color: #FF7A00;
}

#ico-edit {
  color: #2D68FE;
}

#ico-trash {
  color: red;
}

#btn-filter {
  background-color: #EBF3FF;
  border: 0px;
  color: #0067B1;
}

#btn-add {
  color: white;
}

#btn-delete {
  background-color: #EBF3FF;
  border: 0px;
  color: #0067B1;
}

.public-div {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: rgba(9.11, 198.69, 62.19, 0.10);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex
}

.private-div {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: rgba(197, 12, 0, 0.10);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex
}

$default-status-font-size: 12px;

.private-value {
  color: rgb(221, 1, 1);
  font-size: $default-status-font-size;
  // font-family: Inter;
  // font-weight: 400;
  word-wrap: break-word
}

.public-value {
  color: #029c2e;
  font-size: $default-status-font-size;
  // font-family: Inter;
  // font-weight: 400;
  word-wrap: break-word
}
