<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-6">
        <span style="font-size:16px;font-weight: 600;">Cập nhật bài học</span>
      </div>
      <div class="col-lg-6 text-right">
        <button *ngIf="!published" id="btn-filter" nz-button nzType="primary" class="mr-2" (click)="onChangePublish()">
          <i class="far fa-check-circle"></i>&nbsp;
          Xuất bản
        </button>
        <button *ngIf="published" id="btn-filter" nz-button nzType="default" class="mr-2" (click)="onChangePublish()">
          <i *ngIf="published" class="fas fa-edit"></i>&nbsp;
          Chuyển sang chỉnh sửa
        </button>
        <button class="float-end" nz-button nzType="primary" class="mr-2" (click)="save()">
          <i class="fa fa-check mr-1"></i> Lưu
        </button>
        <button nz-button nzType="default" (click)="back()">
          Đóng
        </button>

      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="mt-2">
          <label for="name">Tiêu đề</label><span> * </span>
          <input [disabled]="published" nz-input placeholder="Nhập tiêu đề ..." autofocus
            ngModel="ELANCO PIG ACADEMY - BỆNH DO MYCOPLASMA HYOPNEUMONIAE (SUYỄN HEO)" />
        </div>

        <div class="mt-4">
          <label for="name">Phân loại</label>
          <nz-tree-select
            style="width: 100%"
            nzPlaceHolder="Chọn phân loại"
            [(ngModel)]="value"
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="omittedPlaceHolder"
            [nzNodes]="nodes"
            [nzDefaultExpandAll]="false"
            [nzAllowClear]="false"
            [nzMultiple]="true"
            (ngModelChange)="onChange($event)"
          ></nz-tree-select>
          <ng-template #omittedPlaceHolder let-omittedValues>and {{ omittedValues.length }} more...</ng-template>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <label nz-checkbox [ngModel]="true">Có chứng chỉ?</label>
          </div>
          <div class="col-md-6">
            <nz-radio-group [nzDisabled]="published" ngModel="A">
              <label nz-radio nzValue="A">Công khai</label>
              <label nz-radio nzValue="B">Riêng</label>
            </nz-radio-group>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="mt-2">
          <label for="name">Ảnh bài học</label>
          <nz-upload [nzDisabled]="published" class="avatar-uploader"
            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" nzName="avatar" nzListType="picture-card"
            [(nzFileList)]="fileList" [nzPreview]="handlePreview" [nzShowButton]="fileList.length < 1">
            <ng-container *ngIf="!avatarUrl">
              <div style="margin-left: 30%;">
                <i class="fas fa-plus"></i>
                <div class="ant-upload-text">Upload</div>
              </div>
            </ng-container>
            <img [src]="previewImage" style="width: 100%" />
          </nz-upload>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mt-2">
        <div class="mt-4">
          <label style="font-size: 16px;font-weight: 600;">Nội dung bài học</label>
          <ckeditor [editor]="Editor" data="<img width='200' src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Elanco.svg/1200px-Elanco.svg.png' />
            <p>Bệnh thiếu máu do vi khuẩn M. suis thường bị gọi nhầm là bệnh</p>"></ckeditor>
        </div>
      </div>
  </div>
</div>

</div>