:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px !important;
}

#ico-edit {
  color: #2D68FE;
}

#ico-trash {
  color: red;
}

#btn-filter {
  background-color: #EBF3FF;
  border: 0px;
  color: #0067B1;
}

.average_color {
  color:#FF7A00;
}
