.exam-start {
  background-color: #549e4a;
  color:white;
}
.exam-start-blur {
  background-color: #63be57ef;
  color:white;
}

.exam-end {
  background-color: #0067B1;
  color:white;
}
.exam-end-blur {
  background-color: #0067b193;
  color:white;
}

.ongoing {
  color: #00a838;
}
