<a class="btn btn-sm btn-default small-text"
  style="border:0.5px;border-radius: 25px;background-color:rgba(190,190,190,0.2)">
  <span>{{title}}</span>
  <ng-container *ngIf="!isChoosing">

    <span *ngIf="date" (click)="isChoosing = true" class="ml-2" style="font-weight: bold;">{{date | date: 'dd/MM/yyyy'}}</span>
    <span *ngIf="!date" (click)="isChoosing = true" class="ml-2" style="font-weight: bold;">{{defaultDateLabelDisplay}}</span>
  </ng-container>
  <ng-container *ngIf="isChoosing">
    <span class="ml-2">
      <nz-date-picker [(ngModel)]="date"></nz-date-picker>

      <!-- [nzMaxTagPlaceholder]="tagPlaceHolder" -->
      <!-- <ng-template #tagPlaceHolder let-selectedList> + {{ selectedList.length }} đã chọn</ng-template> -->
      <span class="ml-1">
        <a (click)="getLabelListDisplay()"><nb-icon id="ico-eye" class="check-green" [icon]="'checkmark-outline'"
            pack="eva"></nb-icon></a>&nbsp;
        <!-- <a (click)="isChoosing = false"><nb-icon id="ico-eye" class="close-red" [icon]="'close-outline'"
              pack="eva"></nb-icon></a> -->
      </span>
    </span>
  </ng-container>
</a>
