<div class="row">
  <div class="col-3">
    <div class="card rounded-lg">
      <div class="card-body text-black">
        <div class="row">
          <div class="col-3 text-center">
            <i class="fa fa-heart"></i>
          </div>
          <div class="col-9 text-left">
            <h6><b>178+</b></h6>
            <p>Số lượt hoàn thành</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body text-black">
        <div class="row">
          <div class="col-3 text-center">
            <i class="fa fa-heart"></i>
          </div>
          <div class="col-9 text-left">
            <h6><b>20+</b></h6>
            <p>Số lượt đăng ký</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body text-black">
        <div class="row">
          <div class="col-3 text-center">
            <i class="fa fa-heart"></i>
          </div>
          <div class="col-9 text-left">
            <h6><b>190+</b></h6>
            <p>Số lượt online hôm nay</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body text-black">
        <div class="row">
          <div class="col-3 text-center">
            <i class="fa fa-heart"></i>
          </div>
          <div class="col-9 text-left">
            <h6><b>2h15m</b></h6>
            <p>Thời gian hoàn thành khoá học trung bình</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        Báo cáo hoạt động hàng tuần
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div>
              <h6 class="float-left">Số lượt user online trong tuần</h6>
              <div class="float-right">
                <nz-range-picker [nzRanges]="ranges" ngModel></nz-range-picker>
              </div>
            </div>
            <div class="chart-container" style="width:100%;height:auto;">
              <canvas id="ChartTotalUserOnlineInWeek" height="100%">{{chartTotalUserOnlineInWeek}}</canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
